html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map { 
	height: 100%;
}

.title {
	color: #30a812;
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.phone,
.site {
	padding: 0;
	margin: 0 0 5px 0;
	display: block;
}

.phone {
	color: #666 !important;
	text-decoration: none !important;
}

.site {
	color: #333;
}

.infoWindow img {
	margin-top: 10px;
	border-top: 5px solid #30a812;
}

ul#searchList {
	position: absolute;
	top: 70px;
	float: left;
	z-index: 5;
	width: auto;
	min-width: 200px;
}