html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map { 
	height: 100%;
}

.title {
	color: #30a812;
	font-size: 22px;
	font-weight: bold;
}

.description {
	color: #666;
}

.site {
	color: #333;
}